.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
}
.nav-items>ul>li:active {
    transform: translateY(4px);
}
.nav-items > ul>li{
    padding: 10px;
}
.logo {
    width: 100px;
}
.login-btn,.search-btn{
    transition-duration: 0.4s;
}
.login-btn,.search-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.login-btn,.search-btn:active {
    box-shadow: 0 5px #b8b5b5;
    transform: translateY(4px);
  }


.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.card > img{
    width: 100%;
    border-radius: 10px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
}

.card > span > h4{
    text-align: center;
}

.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}

.menu{
    display: flex;
    
}