.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
}
.nav-items>ul>li:active {
    transform: translateY(4px);
}
.nav-items > ul>li{
    padding: 10px;
}
.logo {
    width: 100px;
}
.login-btn,.search-btn{
    transition-duration: 0.4s;
}
.login-btn,.search-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.login-btn,.search-btn:active {
    box-shadow: 0 5px #b8b5b5;
    transform: translateY(4px);
  }


.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

/* .card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    box-sizing: inherit;
} */

.cover > img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.book > span{
    /* display: flex; */
    text-decoration: none;
    justify-content: space-evenly;
}


.card:hover {
    transform: scale(1.1, 1.1);
}

.book > span > h4{
    text-align: center;
    text-decoration: none;
}

.book > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
    text-decoration: none;
}

.book > span > h4:first-child .fa-star{
    font-size: medium;
    padding: 0 5px 3px 0;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}

.menu{
    display: flex;
    
}
p{
  padding: 2px;
  padding-left: 15px;
}
.book {
    font-size: 90%;
    padding-top: 5px;
    text-decoration: none;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-wrap: break-word;
    /* position: relative; */
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    perspective: 2000px;
    align-items: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    border-radius: 5px;
    text-decoration: none;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
    box-sizing: inherit;
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    align-items: center;
    justify-content: center;
  }
  .book{
    margin: 40px;
    text-decoration-line: none;
  }
  .book:hover .cover {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-90deg);
    -ms-transform: rotatey(-90deg);
    transform: rotatey(-90deg);
    filter: opacity(5%);
  }
  a{
    text-decoration: none;
  }
  .book h3,.book h4, .book span{
    padding: 10px;
    padding-bottom: 0;
  }
/* Logout/login button */
  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(189, 8, 8);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 0px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
/* Logout/login button css ends */